<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
    	<div style="margin-top:10px;">
	        <i class="bi bi-bluesky" style="color:skyblue;"></i> header 영역입니다. 
	        <a href="./login" class="btn btn-success btn-sm"><i class="bi bi-balloon-heart"></i>로그인</a>
	        <a href="./logout" class="btn btn-outline-danger btn-sm">로그아웃</a>
        </div>
        <hr>
    </div>
    
    <div th:fragment="footer">
        <hr>
        footer 영역입니다.
    </div>
</html>